/*---Headings---*/
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
/*Family: [DM Serif Display];*/
/*---Body---*/
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200&display=swap');
/*Family: [Karla];*/
:root {
/*----Colors----*/
/*---Primary---*/
--DarkViolet: hsl(256, 26%, 20%);
--GrayishBlue: hsl(216, 30%, 68%);
/*---Neutral---*/
--VeryDarkViolet: hsl(270, 9%, 17%);
--DarkGrayishViolet: hsl(273, 4%, 51%);
--VeryLightGray: hsl(0, 0%, 98%);

}
@media only screen and (max-width: 1440px){

}
body, ul {
    margin: 0px;
    padding: 0px;
}
a {
    text-decoration: none;
    font-family: 'karla', sans-serif;
}
a:hover {
    border: solid;
}
#header {
    box-sizing: border-box;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#menu {
    display: flex;
    list-style: none;
    gap: .5rem;
}
#menu a {
    display: block;
    padding: .5rem;
}
#btn-mobile {
    display: none;
}
@media only screen and (max-width: 600px){
    #btn-mobile {
        display: block;
    }
    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background: var(--VeryDarkViolet);
        transition: .6s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: auto;
        text-align: center;
    }
    #nav.active #menu {
        height: calc(100vh - 70px);
        visibility: visible;
    }
    #menu a {
        padding: 1rem 0;
        margin: 1rem;
        color: var(--VeryLightGray);
        font-weight: bold;
        border-color: var(--VeryLightGray);
    }
}